* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: #67c9d8;
    color: white;
    font-family: fantasy;
}
a{
    text-decoration: none;
    color: white;
    font-family: fantasy;
}
body{
    background-color: rgb(203, 255, 252);
}



.grid-produtos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

.card-produto {
    background: #81c0c4;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 8px;
    overflow: hidden;
    padding: 16px;
    box-shadow: 0 2px 8px rgb(60, 255, 255);
}
img{
    height: 900px;
    width: 900px;
    object-fit: cover;
}


/* ====== MEDIA QUERY: DESKTOP ====== */
@media (min-width: 768px) {
    .grid-produtos {
        flex-direction: row; /* lado a lado no desktop */
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-produto {
        width: calc(33% - 16px); /* 3 colunas */
    }
}
